@require '../../vars'

.z-tag
  font-micro()
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
  background: getColor('$bgColorAlt1')
  margin-right: 8px
  max-width: 150px
  padding: 8px 12px
  border-radius: 16px
