@require '../../vars'

.z-filter-content-ntee
  min-height: 500px // always take up full height of dialog

  > .search
    margin-bottom: 24px

  > .group
    &.is-visible > .label
      display: flex

    > .label, > .children > .label
      font-body2()
      margin-top: 16px
      display: none
      align-items: center

      &.is-visible
        display: flex

      &:first
        margin-top: 0

      > .checkbox
        margin-right: 20px

      > .text
        font-subtitle1()
        cursor: pointer

      > .open
        margin-left: auto
        cursor: pointer

    > .children
      margin-left: 32px
      display: block
