@require '../../vars'

.z-filter-content-boolean-list
  > .tap-items
    &.is-full-width
      display: flex

      > .tap-item
        flex1()

    > .tap-item
      font-body2()
      display: inline-block
      margin-right: 12px
      margin-bottom: 12px
      padding: 6px 12px
      border-radius: 4px
      text-align: center
      cursor: pointer
      border: 1px solid getColor('$bgText38')

      &:last-child
        margin-right: 0

      &.is-selected
        background: getColor('$secondary50')
        border: 1px solid getColor('$secondary700')
        color: getColor('$secondary700')

      &.has-icon
        position: relative
        padding-left: 40px

        > .icon
          position: absolute
          left: 12px
          top: 6px

