@require '../../vars'

.z-fund-persons
  flex1()
  display: flex

  > .persons
    flex1()
    display: flex
    min-width: 0
    flex-direction: column

    .name
      font-subtitle1()
      color: getColor('$primary500')

.z-fund-persons_years
  font-caption(medium)
