@require '../../vars'

.z-entity-grants
  flex1()
  display: flex

  > .grants
    flex1()
    display: flex
    min-width: 0
    flex-direction: column

    .name
      font-subtitle1()

      &a
        color: getColor('$primary500')


.z-entity-grants-mobile-row
  > .name
    font-subtitle1()

  > .location
    font-body1(medium)

  > .divider
    width: 100%
    height: 1px
    background: getColor('$bgText12')
    margin: 8px 0

  > .purpose
    font-body2()

  > .stats
    display: flex
    margin-top: 12px

    > .stat
      flex1()

      > .title
        font-caption()

      > .value
        font-subtitle1()
