@require '../../vars'

.z-fund-grants
  flex1()
  display: flex

  > .grants
    flex1()
    display: flex
    min-width: 0
    flex-direction: column

    .name
      font-subtitle1()
      color: getColor('$primary500')
