@require '../../vars'

.z-fund-at-a-glance
  > .name
    font-h5()
    margin-bottom: 24px

  > .block
    margin-top: 20px

    > .title
      font-subtitle2()
      margin-bottom: 4px

    > .text
      font-body1()

    > .link
      color: getColor('$primary500')

    > .mission
        &.is-truncated
          max-height: 70px // FIXME
          overflow: hidden
          position: relative

          &::after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), getColor('$bgColor'))

  > .divider
    width: 100%
    height: 1px
    background: getColor('$bgText12')
    margin: 28px 0

  > .grant-summary
    > .title
      font-h6()
      margin-bottom: 24px
      display: flex
      align-items: center

      > .icon
        margin-right: 10px

    > .metric
      margin-bottom: 20px

      > .name
        font-caption(high)

      > .value
        font-h5()
