@require '../../vars'

.z-tags
  display: flex

  > .more
    font-micro()
    flex-shrink: 0
    width: 30px
    height: 30px
    line-height: 30px
    border-radius: 50%
    background: getColor('$bgText12')
    text-align: center
