@require '../../vars'

.z-filter-bar
  pointer-events: all
  display: flex

  > .filters
    flex1()
    white-space: nowrap
    overflow-x: auto
    overflow-y: hidden
    -webkit-overflow-scrolling: touch

    > .filter
      font-body2()
      cursor: pointer
      display: inline-block
      background: getColor('$bgColor')
      border: 1px solid getColor('$bgText87')
      border-radius: 17px
      margin-right: 8px
      padding: 6px 12px
      position: relative

      &.has-value
        font-subtitle2()
        color: getColor('$primaryMain')
        background: getColor('$primary50')
        border: 2px solid getColor('$primaryMain')

        &.has-more
          &:after
            border-top: 4px solid getColor('$primaryMain')

      &.has-more
        padding-right: 24px

        &:after
          content: ''
          position: absolute
          top: 50%
          margin-top: -2px
          right: 10px
          width: 0
          height: 0
          border-left: 4px solid transparent
          border-right: 4px solid transparent
          border-top: 4px solid getColor('$tertiary800')
