@require '../../vars'

.z-irs-search
  position: relative

  &.is-entities-visible
    > .entities
      display: inline-block

  > .input
    > .selected
      font-subtitle1()
      padding-top: 8px
      display: flex
      align-items: center

      > .avatar
        margin-right: 16px

      > .cancel
        margin-left: auto

  > .entities
    shadow-1()
    position: absolute
    top: 56px
    z-index: 999
    width: 100%
    max-width: 360px
    background: getColor('$bgColor')
    display: none
    padding: 8px 0

    > .entity
      font-subtitle1()
      display: flex
      align-items: center
      padding: 8px 16px
      cursor: pointer

      &.is-selected
        background: getColor('$bgColorAlt1')

      > .avatar
        margin-right: 16px

      > .info
        min-width: 0

        > .sub
          font-micro()
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
