@require '../../vars'

.z-fund-overview-ntee-pie
  flex1()
  display: flex
  flex-direction: column

  > .legend
    margin-top: 24px

    > .legend-item
      display: flex
      margin-bottom: 8px

      > .color
        flex-shrink: 0
        width: 20px
        height: 20px
        border-radius: 8px
        margin-right: 16px

      > .info
        > .ntee
          font-subtitle2()

        > .dollar
          font-body2(medium)

      > .percent
        font-subtitle2()
        margin-left: auto
