@require '../../vars'

.z-fund
  flex1()
  // display: flex
  // flex-direction: column
  // min-width: 0
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

  &.scroll-fit-content
    > .content
      min-height: auto

  > .quick-info
    shadow-1()
    padding: 16px
    box-sizing: border-box
    background: getColor('$bgColor')
    flex-shrink: 0
    position: relative

  > .content
    min-width: 0
    min-height: 0

    > .inner
      height: 100%

  @media (min-width: $breakPointMedium)
    display: grid
    grid-template-columns: 396px 1fr
    grid-column-gap: 0
    grid-row-gap: 0

    > .quick-info
      padding: 48px 32px
