@require '../../vars'

.z-fund
  flex1()
  display: flex

  > .quick-info
    width: 428px;
    padding: 48px 32px
    box-sizing: border-box
    background: getColor('$bgColor')
    flex-shrink: 0

  > .content
    flex1()
    min-width: 0
    display: flex
    flex-direction: column
    background: getColor('$bgColorAlt1')
    padding: 36px 32px
