@require '../../vars'

.z-search-tags
  flex1()
  padding: 20px 20px 12px 20px
  transition: box-shadow 0.25s

  &:hover
    shadow-1()
    cursor: pointer

  > .title
    font-tbd-name()

  > .placeholder
    font-body1(medium)
    margin-top: 4px
