@require '../../vars'

.z-search-tags
  flex1()
  padding: 18px 18px 10px 22px
  transition: box-shadow 0.25s
  position: relative
  border: 3px solid getColor('$transparent')
  box-sizing: border-box
  border-radius: 12px
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1)

  &:hover
    cursor: pointer
    border: 3px solid getColor('$bgText6')

  > .title
    font-tbd-name()

  > .tags
    font-body1(medium)
    margin-top: 8px

  @media (min-width: $breakPointMedium)
    > .tags
      margin-top: 4px

