@require '../../vars'

.z-push-notification-sheet_content
    display: flex
    align-items: center

    > .message
      margin-left: 40px

.z-push-notification-sheet_actions
  display: flex
  justify-content: flex-end
  margin-top: 12px
