@require '../../vars'

.z-search
  > .search
    shadow-1()
    padding: 32px

    > .title
      font-h5()
      max-width: 1200px
      margin: 0 auto 20px auto

    > .search-box
      shadow-1()
      background: getColor('$bgColor')
      max-width: 1200px
      margin: 0 auto
      border-radius: 12px

    > .alt
      max-width: 1200px
      margin: 24px auto 0 auto
      cursor: pointer

      > .or
        display: inline-block
        margin-right: 4px

      > .text
        font-button()
        text-decoration: underline
        display: inline-block

  > .results
    padding: 48px 32px
    container()

    > .title
      font-h5()
      margin-bottom: 20px

    > .filter-bar
      margin-bottom: 16px

  @media (min-width: $breakPointMedium)
    > .search
      > .title
        font-h4()

      > .search-box
        // display: flex
        // align-items: center
        display: grid
        grid-template-columns: 1fr 1px 1fr 165px
        grid-column-gap: 0
        grid-row-gap: 0
        align-items: center

        > .search-tags
          height: 100%
          min-width: 0
          display: flex

        > .divider
          width: 1px
          height: 56px
          background: getColor('$bgText6')

        > .button
          margin: 0 20px


.z-search_input
  width: 100%

  > .input
    width: 100%
