@require '../../vars'

.z-filter-content-sheet_sheet
  position: relative

  > .title
    font-subtitle1()
    margin-bottom: 16px

  > .actions
    display: flex
    margin-top: -8px
    margin-bottom: 16px

    > .save
      margin-left: auto
