@require '../../vars'

.z-table
  flex1()
  display: flex
  flex-direction: column
  background: getColor('$bgColor')
  border-radius: 6px
  overflow-y: auto
  -webkit-overflow-scrolling: touch

  &.is-mobile
    fix-overflow-shadows()
    background: transparent

  &.has-row-click
    > .tbody > .tr
      cursor: pointer

      &:hover
        background: getColor('$bgColorAlt1')

    > .tbody > .tr-mobile
      cursor: pointer

  > .thead
    shadow-1()
    background: getColor('$bgColor')
    position: sticky
    top: 0
    display: flex

    > .th
      font-body1(medium)
      flex-shrink: 0
      padding: 20px 20px 12px 20px
      box-sizing: border-box

  > .tbody
    flex1()
    min-height: 200px

    > .tr
      display: flex
      align-items: center
      border-bottom: 1px solid getColor('$bgText12')

      > .td
        font-body1()
        flex-shrink: 0
        padding: 20px
        box-sizing: border-box
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden

    > .tr-mobile
      shadow-1()
      background: getColor('$bgColor')
      margin-bottom: 12px
      padding: 16px
