@require '../../vars'

.z-filter-content
  > .content
    > .info
      font-body2(true, medium)
      margin-bottom: 16px

    > .label
      font-body2()
      margin-top: 16px
      display: flex
      align-items: center

      &:first
        margin-top: 0

      // > .text
      //   margin-left: 8px

      > .small-input
        width: 50px
        margin-left: auto
        display: flex
        align-items: center

      > .checkbox
        margin-right: 20px

      > .text
        font-subtitle1()
        cursor: pointer

  > .min-max
    > .flex
      display: flex
      align-items: center

      > .block
        flex1()

      > .dash
        margin: 0 16px


  > .tappable
    > .tap-items
      &.is-full-width
        display: flex

        > .tap-item
          flex1()

      > .tap-item
        font-body2()
        display: inline-block
        margin-right: 12px
        margin-bottom: 12px
        padding: 6px 12px
        border-radius: 4px
        text-align: center
        cursor: pointer
        border: 1px solid getColor('$bgText38')

        &:last-child
          margin-right: 0

        &.is-selected
          background: getColor('$secondary50')
          border: 1px solid getColor('$secondary700')
          color: getColor('$secondary700')

        &.has-icon
          position: relative
          padding-left: 40px

          > .icon
            position: absolute
            left: 12px
            top: 6px

  > .gtlt
    > .operators
      margin-left: auto
      display: flex

      > .operator
        border: 1px solid getColor('$bgText38')
        border-radius: 50%
        width: 24px
        height: 24px
        margin-right: 8px

        &.is-selected
          border: 1px solid getColor('$secondaryMain')
          background: getColor('$secondaryMain')

    > .operator-input
      width: 30px

    > .operator-input-wide
      width: 50px
