@require '../../vars'

.z-search-input
  flex1()
  padding: 20px 20px 12px 24px
  font: inherit
  color: inherit
  background-color: transparent
  border: none
  outline: none
  -webkit-tap-highlight-color: transparent
  width: 100%
  box-sizing: border-box


  // rm chrome autofill styles
  &:-internal-autofill-selected
    background-color: transparent !important
