@require '../../vars'

.z-entity-persons
  flex1()
  display: flex

  > .persons
    flex1()
    display: flex
    min-width: 0
    flex-direction: column

    .name
      font-subtitle1()

.z-entity-persons_years
  font-caption(medium)

.z-entity-persons-mobile-row
  > .name
    font-subtitle1()

  > .title
    font-body1(medium)

  > .compensation, > .years
    font-body2()
