@require '../../vars'

.z-fund-overview
  flex1()

  > .analytics
    width: 100%
    height: 0
    position: relative
    margin-bottom: 20px
    padding-bottom: 80%

    > .block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      display: flex

  > .grid
    width: 100%

  > .analytics, > .grid
    > .block
      flex1()
      display: flex
      flex-direction: column
      background: getColor('$bgColor')
      padding: 20px
      box-sizing: border-box
      border: 1px solid getColor('$bgText12')
      border-radius: 6px
      margin-bottom: 20px

      &.pie
        height: 500px

      &.map
        height: 400px

      > .head
        > .title
          font-subtitle1()
          margin-bottom: 16px

  @media (min-width: $breakPointMedium)
    > .analytics
      padding-bottom: 33%

    > .grid
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-column-gap: 20px
      grid-row-gap: 20px

      > .block
        margin-bottom: 0
