@require '../../vars'

.z-filter-content-list
  > .label
    font-body2()
    margin-top: 16px
    display: flex
    align-items: center

    &:first
      margin-top: 0

    > .checkbox
      margin-right: 20px

    > .text
      font-subtitle1()
      cursor: pointer
